body {
    justify-items: center;
    height: 100vh;
    align-content: center;
    background: beige;
} 
h1 {
    text-align: center;
    color: rgb(12, 12, 44);
    font-family: 'Arial', sans-serif;
}
p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    font-family: 'Georgia', serif;
}
